djangorestframework
django-filter
drf_orjson_renderer
djangorestframework-camel-case
djangorestframework-simplejwt
drf-spectacular[sidecar]
gunicorn
#waitress
psycopg[binary,pool]
python-dotenv
python-dateutil
huey
peewee
loguru
minio
redis
#httpx
#tenacity